{% extends "/base.html" %}
{% set title = "thinkPLANK" %}
{% block content %}
<h1>Mods we're building</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Progress</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>GrimCraft</td>
            <td>GrimCraft is a mod bringing new functionality to the Nether while keeping faithful to the style of vanilla.</td>
            <td>10% complete</div></td>
    </tbody>
</table>
{% endblock %}
